{
  "openapi": "3.1.0",
  "info": {
    "title": "Rendobar API",
    "version": "1.0.0",
    "description": "Serverless media processing API. Watermark, transcode, caption, render videos with one API call. Credit-based billing. MCP-native for AI agents.",
    "contact": {
      "name": "Rendobar Support",
      "url": "https://rendobar.com"
    },
    "license": {
      "name": "Proprietary"
    }
  },
  "servers": [
    {
      "url": "https://api.rendobar.com",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Watermark",
      "description": "Add, remove, or detect watermarks in videos"
    },
    {
      "name": "Captions",
      "description": "Extract speech-to-text captions or burn subtitles into video"
    },
    {
      "name": "Compliance",
      "description": "Content moderation and GDPR PII detection/redaction"
    },
    {
      "name": "Extract",
      "description": "Extract metadata, detect scenes, or OCR text from video"
    },
    {
      "name": "Transcode",
      "description": "Convert video codec, resolution, or format"
    },
    {
      "name": "Thumbnail",
      "description": "Generate thumbnail images from video"
    },
    {
      "name": "Raw",
      "description": "Execute custom FFmpeg commands (Pro/Scale plans)"
    },
    {
      "name": "FFmpeg",
      "description": "FFmpeg-as-a-Service: probe media files and execute FFmpeg commands"
    },
    {
      "name": "QR",
      "description": "Generate styled QR codes with 9 content types (URL, vCard, WiFi, etc.)"
    },
    {
      "name": "Jobs",
      "description": "Generic job creation and management (list, get, cancel, download)"
    },
    {
      "name": "Sharing",
      "description": "Create and manage public share links for job outputs"
    },
    {
      "name": "Batches",
      "description": "Submit and manage batch job groups"
    },
    {
      "name": "Pipelines",
      "description": "Compose multi-job DAG pipelines with fan-out/fan-in execution"
    },
    {
      "name": "Billing",
      "description": "Check account balance and usage history"
    },
    {
      "name": "Organizations",
      "description": "Manage organizations and members"
    },
    {
      "name": "API Keys",
      "description": "Create and manage API keys"
    },
    {
      "name": "Assets",
      "description": "Upload and manage PSD templates and design assets"
    },
    {
      "name": "Events",
      "description": "Real-time job status updates via SSE"
    },
    {
      "name": "Webhooks",
      "description": "Configure webhook endpoints and view delivery history"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "components": {
    "schemas": {},
    "parameters": {}
  },
  "paths": {
    "/watermark/apply": {
      "post": {
        "tags": [
          "Watermark"
        ],
        "summary": "Apply watermarks to video or image",
        "description": "Overlay one or more watermarks (images and/or text) onto a video or image. Supports 9-position grid, rotation, shadow, outline, opacity, quality presets, and time-ranged visibility (video only). Up to 10 watermarks per job.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "inputs": {
                    "type": "object",
                    "properties": {
                      "source": {
                        "type": "string",
                        "format": "uri",
                        "description": "URL to the source video or image file"
                      }
                    },
                    "required": [
                      "source"
                    ]
                  },
                  "params": {
                    "type": "object",
                    "properties": {
                      "watermarks": {
                        "type": "array",
                        "items": {
                          "oneOf": [
                            {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "enum": [
                                    "image"
                                  ],
                                  "description": "Watermark type: image"
                                },
                                "url": {
                                  "type": "string",
                                  "format": "uri",
                                  "description": "URL to the watermark image file"
                                },
                                "scale": {
                                  "type": "number",
                                  "minimum": 0.01,
                                  "maximum": 1,
                                  "default": 0.15,
                                  "description": "Scale relative to source dimensions (0.01-1)"
                                },
                                "position": {
                                  "type": "string",
                                  "enum": [
                                    "top-left",
                                    "top-center",
                                    "top-right",
                                    "center-left",
                                    "center",
                                    "center-right",
                                    "bottom-left",
                                    "bottom-center",
                                    "bottom-right"
                                  ],
                                  "default": "bottom-right",
                                  "description": "Watermark position on the 9-point grid"
                                },
                                "opacity": {
                                  "type": "number",
                                  "minimum": 0,
                                  "maximum": 1,
                                  "default": 0.8,
                                  "description": "Watermark opacity (0 = transparent, 1 = opaque)"
                                },
                                "rotation": {
                                  "type": "number",
                                  "minimum": 0,
                                  "maximum": 360,
                                  "default": 0,
                                  "description": "Rotation angle in degrees"
                                },
                                "padding": {
                                  "type": "integer",
                                  "minimum": 0,
                                  "maximum": 500,
                                  "default": 20,
                                  "description": "Padding from edges in pixels"
                                },
                                "timeRange": {
                                  "type": "object",
                                  "properties": {
                                    "start": {
                                      "type": "number",
                                      "minimum": 0,
                                      "description": "Start time in seconds"
                                    },
                                    "end": {
                                      "type": "number",
                                      "minimum": 0,
                                      "description": "End time in seconds"
                                    }
                                  },
                                  "required": [
                                    "start"
                                  ],
                                  "description": "Time range for watermark visibility (video only)"
                                },
                                "fade": {
                                  "anyOf": [
                                    {
                                      "type": "boolean",
                                      "enum": [
                                        true
                                      ]
                                    },
                                    {
                                      "type": "object",
                                      "properties": {
                                        "in": {
                                          "type": "number",
                                          "minimum": 0,
                                          "maximum": 10,
                                          "description": "Fade-in duration in seconds"
                                        },
                                        "out": {
                                          "type": "number",
                                          "minimum": 0,
                                          "maximum": 10,
                                          "description": "Fade-out duration in seconds"
                                        }
                                      }
                                    }
                                  ],
                                  "description": "Fade in/out effect for the watermark"
                                }
                              },
                              "required": [
                                "type",
                                "url"
                              ]
                            },
                            {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "enum": [
                                    "text"
                                  ],
                                  "description": "Watermark type: text"
                                },
                                "content": {
                                  "type": "string",
                                  "minLength": 1,
                                  "maxLength": 500,
                                  "description": "Text content to render as watermark"
                                },
                                "font": {
                                  "type": "string",
                                  "enum": [
                                    "Arial",
                                    "Roboto",
                                    "Inter",
                                    "Poppins",
                                    "Montserrat",
                                    "Lato",
                                    "Open Sans",
                                    "Raleway",
                                    "Playfair Display",
                                    "Oswald",
                                    "Nunito",
                                    "Source Sans",
                                    "Ubuntu",
                                    "Courier",
                                    "Georgia"
                                  ],
                                  "default": "Inter",
                                  "description": "Font family name"
                                },
                                "fontUrl": {
                                  "type": "string",
                                  "format": "uri",
                                  "description": "URL to a custom font file (must use HTTPS)"
                                },
                                "fontSize": {
                                  "type": "integer",
                                  "minimum": 8,
                                  "maximum": 200,
                                  "default": 24,
                                  "description": "Font size in pixels"
                                },
                                "color": {
                                  "type": "string",
                                  "pattern": "^#[0-9A-Fa-f]{6}([0-9A-Fa-f]{2})?$",
                                  "default": "#FFFFFF",
                                  "description": "Text color in hex format"
                                },
                                "shadow": {
                                  "anyOf": [
                                    {
                                      "type": "boolean",
                                      "enum": [
                                        true
                                      ]
                                    },
                                    {
                                      "type": "object",
                                      "properties": {
                                        "color": {
                                          "type": "string",
                                          "pattern": "^#[0-9A-Fa-f]{6}([0-9A-Fa-f]{2})?$",
                                          "default": "#000000",
                                          "description": "Shadow color in hex format"
                                        },
                                        "offset": {
                                          "type": "number",
                                          "minimum": 1,
                                          "maximum": 20,
                                          "default": 2,
                                          "description": "Shadow offset in pixels"
                                        }
                                      }
                                    }
                                  ],
                                  "description": "Text shadow (true for defaults, or object with color/offset)"
                                },
                                "outline": {
                                  "anyOf": [
                                    {
                                      "type": "boolean",
                                      "enum": [
                                        true
                                      ]
                                    },
                                    {
                                      "type": "object",
                                      "properties": {
                                        "color": {
                                          "type": "string",
                                          "pattern": "^#[0-9A-Fa-f]{6}([0-9A-Fa-f]{2})?$",
                                          "default": "#000000",
                                          "description": "Outline color in hex format"
                                        },
                                        "width": {
                                          "type": "number",
                                          "minimum": 1,
                                          "maximum": 10,
                                          "default": 2,
                                          "description": "Outline width in pixels"
                                        }
                                      }
                                    }
                                  ],
                                  "description": "Text outline (true for defaults, or object with color/width)"
                                },
                                "background": {
                                  "type": "string",
                                  "pattern": "^#[0-9A-Fa-f]{6}([0-9A-Fa-f]{2})?$",
                                  "description": "Background color behind text in hex format"
                                },
                                "position": {
                                  "type": "string",
                                  "enum": [
                                    "top-left",
                                    "top-center",
                                    "top-right",
                                    "center-left",
                                    "center",
                                    "center-right",
                                    "bottom-left",
                                    "bottom-center",
                                    "bottom-right"
                                  ],
                                  "default": "bottom-right",
                                  "description": "Watermark position on the 9-point grid"
                                },
                                "opacity": {
                                  "type": "number",
                                  "minimum": 0,
                                  "maximum": 1,
                                  "default": 0.8,
                                  "description": "Watermark opacity (0 = transparent, 1 = opaque)"
                                },
                                "rotation": {
                                  "type": "number",
                                  "minimum": 0,
                                  "maximum": 360,
                                  "default": 0,
                                  "description": "Rotation angle in degrees"
                                },
                                "padding": {
                                  "type": "integer",
                                  "minimum": 0,
                                  "maximum": 500,
                                  "default": 20,
                                  "description": "Padding from edges in pixels"
                                },
                                "timeRange": {
                                  "type": "object",
                                  "properties": {
                                    "start": {
                                      "type": "number",
                                      "minimum": 0,
                                      "description": "Start time in seconds"
                                    },
                                    "end": {
                                      "type": "number",
                                      "minimum": 0,
                                      "description": "End time in seconds"
                                    }
                                  },
                                  "required": [
                                    "start"
                                  ],
                                  "description": "Time range for watermark visibility (video only)"
                                },
                                "fade": {
                                  "anyOf": [
                                    {
                                      "type": "boolean",
                                      "enum": [
                                        true
                                      ]
                                    },
                                    {
                                      "type": "object",
                                      "properties": {
                                        "in": {
                                          "type": "number",
                                          "minimum": 0,
                                          "maximum": 10,
                                          "description": "Fade-in duration in seconds"
                                        },
                                        "out": {
                                          "type": "number",
                                          "minimum": 0,
                                          "maximum": 10,
                                          "description": "Fade-out duration in seconds"
                                        }
                                      }
                                    }
                                  ],
                                  "description": "Fade in/out effect for the watermark"
                                }
                              },
                              "required": [
                                "type",
                                "content"
                              ]
                            }
                          ]
                        },
                        "minItems": 1,
                        "maxItems": 10,
                        "description": "Array of watermarks to apply (1-10)"
                      },
                      "quality": {
                        "type": "string",
                        "enum": [
                          "fast",
                          "balanced",
                          "high"
                        ],
                        "default": "balanced",
                        "description": "Output quality preset"
                      }
                    },
                    "required": [
                      "watermarks"
                    ]
                  }
                },
                "required": [
                  "inputs"
                ]
              },
              "example": {
                "inputs": {
                  "source": "https://cdn.rendobar.com/assets/examples/sample.mp4"
                },
                "params": {
                  "watermarks": [
                    {
                      "type": "image",
                      "url": "https://cdn.rendobar.com/assets/brand/logo-full.png",
                      "position": "bottom-right"
                    },
                    {
                      "type": "text",
                      "content": "© 2026 Rendobar",
                      "position": "bottom-left",
                      "shadow": true
                    }
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Job created and dispatched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Unique job identifier (e.g., job_abc123)"
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "dispatched",
                            "waiting"
                          ],
                          "description": "Initial job status"
                        }
                      },
                      "required": [
                        "id",
                        "status"
                      ]
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Validation error — invalid inputs or params",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Machine-readable error code"
                        },
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing or invalid API key / session",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Machine-readable error code"
                        },
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Machine-readable error code"
                        },
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — job type not allowed on current plan",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Machine-readable error code"
                        },
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate limited — concurrent job limit or request rate exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Machine-readable error code"
                        },
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/watermark/watermark/embed": {
      "post": {
        "tags": [
          "Watermark"
        ],
        "summary": "Embed invisible watermark into image",
        "description": "Embed an invisible tracking payload into image pixels using Meta VideoSeal 1.0. The watermark is imperceptible to humans but machine-extractable. Survives JPEG compression, resizing, rotation, and social media upload. Use watermark.detect to extract and verify the payload later.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "inputs": {
                    "type": "object",
                    "properties": {
                      "source": {
                        "type": "string",
                        "format": "uri",
                        "description": "URL to the source video or image file"
                      }
                    },
                    "required": [
                      "source"
                    ]
                  },
                  "params": {
                    "type": "object",
                    "properties": {
                      "payload": {
                        "type": "string",
                        "minLength": 1,
                        "description": "Tracking payload to embed (UUID or up to 16 bytes UTF-8)"
                      },
                      "strength": {
                        "type": "string",
                        "enum": [
                          "standard",
                          "robust"
                        ],
                        "default": "standard",
                        "description": "Embedding strength (robust survives more transformations)"
                      },
                      "outputFormat": {
                        "type": "string",
                        "enum": [
                          "match",
                          "png",
                          "jpeg",
                          "webp"
                        ],
                        "default": "match",
                        "description": "Output image format (match preserves original)"
                      },
                      "outputQuality": {
                        "type": "integer",
                        "minimum": 70,
                        "maximum": 100,
                        "default": 95,
                        "description": "Output image quality (70-100)"
                      }
                    },
                    "required": [
                      "payload"
                    ]
                  }
                },
                "required": [
                  "inputs"
                ]
              },
              "example": {
                "inputs": {
                  "source": "https://cdn.rendobar.com/assets/examples/photo.jpg"
                },
                "params": {
                  "payload": "a3f8c2d1-b4e5-4f67-8a9b-c0d1e2f3a4b5",
                  "strength": "standard"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Job created and dispatched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Unique job identifier (e.g., job_abc123)"
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "dispatched",
                            "waiting"
                          ],
                          "description": "Initial job status"
                        }
                      },
                      "required": [
                        "id",
                        "status"
                      ]
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Validation error — invalid inputs or params",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Machine-readable error code"
                        },
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing or invalid API key / session",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Machine-readable error code"
                        },
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Machine-readable error code"
                        },
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — job type not allowed on current plan",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Machine-readable error code"
                        },
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate limited — concurrent job limit or request rate exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Machine-readable error code"
                        },
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/watermark/watermark/detect": {
      "post": {
        "tags": [
          "Watermark"
        ],
        "summary": "Extract invisible watermark from image",
        "description": "Extract an invisible watermark payload from an image using Meta VideoSeal 1.0. Two modes: extract (blind — what payload is embedded?) or verify (does this image contain THIS specific payload?). Returns confidence score, bit recovery stats, and the decoded payload string.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "inputs": {
                    "type": "object",
                    "properties": {
                      "source": {
                        "type": "string",
                        "format": "uri",
                        "description": "URL to the source video or image file"
                      }
                    },
                    "required": [
                      "source"
                    ]
                  },
                  "params": {
                    "type": "object",
                    "properties": {
                      "expectedPayload": {
                        "type": "string",
                        "description": "Expected payload to verify against (omit for blind extraction)"
                      }
                    }
                  }
                },
                "required": [
                  "inputs"
                ]
              },
              "example": {
                "inputs": {
                  "source": "https://cdn.rendobar.com/assets/examples/watermarked.jpg"
                },
                "params": {}
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Job created and dispatched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Unique job identifier (e.g., job_abc123)"
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "dispatched",
                            "waiting"
                          ],
                          "description": "Initial job status"
                        }
                      },
                      "required": [
                        "id",
                        "status"
                      ]
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Validation error — invalid inputs or params",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Machine-readable error code"
                        },
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing or invalid API key / session",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Machine-readable error code"
                        },
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Machine-readable error code"
                        },
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — job type not allowed on current plan",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Machine-readable error code"
                        },
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate limited — concurrent job limit or request rate exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Machine-readable error code"
                        },
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/qr/generate": {
      "post": {
        "tags": [
          "QR"
        ],
        "summary": "Generate styled QR code",
        "description": "Generate a styled QR code image (PNG or SVG) with 9 content types: URL, WhatsApp, phone, SMS, email, vCard, WiFi, geo, and plain text. Supports branded styling with custom colors, dot styles, and logo embedding.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "inputs": {
                    "type": "object",
                    "properties": {},
                    "description": "No separate inputs required — media URLs are embedded in params"
                  },
                  "params": {
                    "type": "object",
                    "properties": {
                      "content": {
                        "oneOf": [
                          {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "enum": [
                                  "url"
                                ],
                                "description": "Content type: URL"
                              },
                              "url": {
                                "type": "string",
                                "format": "uri",
                                "description": "URL to encode in the QR code"
                              }
                            },
                            "required": [
                              "type",
                              "url"
                            ]
                          },
                          {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "enum": [
                                  "whatsapp"
                                ],
                                "description": "Content type: WhatsApp"
                              },
                              "phone": {
                                "type": "string",
                                "pattern": "^\\+[1-9]\\d{6,14}$",
                                "description": "Phone number in E.164 format"
                              },
                              "message": {
                                "type": "string",
                                "maxLength": 2000,
                                "description": "Pre-filled message text"
                              }
                            },
                            "required": [
                              "type",
                              "phone"
                            ]
                          },
                          {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "enum": [
                                  "phone"
                                ],
                                "description": "Content type: phone call"
                              },
                              "phone": {
                                "type": "string",
                                "pattern": "^\\+[1-9]\\d{6,14}$",
                                "description": "Phone number in E.164 format"
                              }
                            },
                            "required": [
                              "type",
                              "phone"
                            ]
                          },
                          {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "enum": [
                                  "sms"
                                ],
                                "description": "Content type: SMS"
                              },
                              "phone": {
                                "type": "string",
                                "pattern": "^\\+[1-9]\\d{6,14}$",
                                "description": "Phone number in E.164 format"
                              },
                              "body": {
                                "type": "string",
                                "maxLength": 160,
                                "description": "Pre-filled SMS body text"
                              }
                            },
                            "required": [
                              "type",
                              "phone"
                            ]
                          },
                          {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "enum": [
                                  "email"
                                ],
                                "description": "Content type: email"
                              },
                              "address": {
                                "type": "string",
                                "format": "email",
                                "description": "Email address"
                              },
                              "subject": {
                                "type": "string",
                                "maxLength": 200,
                                "description": "Pre-filled email subject"
                              },
                              "body": {
                                "type": "string",
                                "maxLength": 200,
                                "description": "Pre-filled email body"
                              }
                            },
                            "required": [
                              "type",
                              "address"
                            ]
                          },
                          {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "enum": [
                                  "vcard"
                                ],
                                "description": "Content type: vCard contact"
                              },
                              "firstName": {
                                "type": "string",
                                "maxLength": 100,
                                "description": "Contact first name"
                              },
                              "lastName": {
                                "type": "string",
                                "maxLength": 100,
                                "description": "Contact last name"
                              },
                              "phone": {
                                "type": "string",
                                "pattern": "^\\+[1-9]\\d{6,14}$",
                                "description": "Contact phone number in E.164 format"
                              },
                              "email": {
                                "type": "string",
                                "maxLength": 100,
                                "format": "email",
                                "description": "Contact email address"
                              },
                              "company": {
                                "type": "string",
                                "maxLength": 100,
                                "description": "Contact company name"
                              },
                              "title": {
                                "type": "string",
                                "maxLength": 100,
                                "description": "Contact job title"
                              },
                              "website": {
                                "type": "string",
                                "maxLength": 100,
                                "format": "uri",
                                "description": "Contact website URL"
                              }
                            },
                            "required": [
                              "type",
                              "firstName"
                            ]
                          },
                          {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "enum": [
                                  "wifi"
                                ],
                                "description": "Content type: WiFi network"
                              },
                              "ssid": {
                                "type": "string",
                                "minLength": 1,
                                "maxLength": 32,
                                "description": "WiFi network name (SSID)"
                              },
                              "password": {
                                "type": "string",
                                "maxLength": 63,
                                "description": "WiFi password"
                              },
                              "encryption": {
                                "type": "string",
                                "enum": [
                                  "WPA",
                                  "WEP",
                                  "nopass"
                                ],
                                "default": "WPA",
                                "description": "WiFi encryption type"
                              },
                              "hidden": {
                                "type": "boolean",
                                "default": false,
                                "description": "Whether the network is hidden"
                              }
                            },
                            "required": [
                              "type",
                              "ssid"
                            ]
                          },
                          {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "enum": [
                                  "geo"
                                ],
                                "description": "Content type: geographic location"
                              },
                              "latitude": {
                                "type": "number",
                                "minimum": -90,
                                "maximum": 90,
                                "description": "Latitude (-90 to 90)"
                              },
                              "longitude": {
                                "type": "number",
                                "minimum": -180,
                                "maximum": 180,
                                "description": "Longitude (-180 to 180)"
                              },
                              "label": {
                                "type": "string",
                                "maxLength": 100,
                                "description": "Location label"
                              }
                            },
                            "required": [
                              "type",
                              "latitude",
                              "longitude"
                            ]
                          },
                          {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "enum": [
                                  "text"
                                ],
                                "description": "Content type: plain text"
                              },
                              "text": {
                                "type": "string",
                                "minLength": 1,
                                "maxLength": 2000,
                                "description": "Plain text to encode"
                              }
                            },
                            "required": [
                              "type",
                              "text"
                            ]
                          }
                        ],
                        "description": "QR code content (URL, text, phone, email, vCard, WiFi, geo, SMS, or WhatsApp)"
                      },
                      "style": {
                        "type": "object",
                        "properties": {
                          "size": {
                            "type": "integer",
                            "minimum": 64,
                            "maximum": 2048,
                            "default": 512,
                            "description": "QR code image size in pixels"
                          },
                          "margin": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 10,
                            "default": 1,
                            "description": "Quiet zone margin in modules"
                          },
                          "errorCorrection": {
                            "type": "string",
                            "enum": [
                              "L",
                              "M",
                              "Q",
                              "H"
                            ],
                            "default": "M",
                            "description": "Error correction level (L=7%, M=15%, Q=25%, H=30%)"
                          },
                          "foregroundColor": {
                            "type": "string",
                            "pattern": "^#[0-9a-fA-F]{6}$",
                            "default": "#000000",
                            "description": "Foreground (dot) color in hex format"
                          },
                          "backgroundColor": {
                            "anyOf": [
                              {
                                "type": "string",
                                "pattern": "^#[0-9a-fA-F]{6}$"
                              },
                              {
                                "type": "string",
                                "enum": [
                                  "transparent"
                                ]
                              }
                            ],
                            "default": "#FFFFFF",
                            "description": "Background color in hex format or \"transparent\""
                          },
                          "dotStyle": {
                            "type": "string",
                            "enum": [
                              "square",
                              "rounded",
                              "dots",
                              "extra-rounded"
                            ],
                            "default": "square",
                            "description": "QR code dot style"
                          },
                          "logo": {
                            "type": "object",
                            "properties": {
                              "url": {
                                "type": "string",
                                "format": "uri",
                                "description": "URL to the logo image"
                              },
                              "sizeRatio": {
                                "type": "number",
                                "minimum": 0.1,
                                "maximum": 0.35,
                                "default": 0.2,
                                "description": "Logo size relative to QR code (0.1-0.35)"
                              },
                              "margin": {
                                "type": "integer",
                                "minimum": 0,
                                "maximum": 20,
                                "default": 5,
                                "description": "Margin around the logo in modules"
                              }
                            },
                            "required": [
                              "url"
                            ],
                            "description": "Optional center logo overlay"
                          },
                          "format": {
                            "type": "string",
                            "enum": [
                              "png",
                              "svg"
                            ],
                            "default": "png",
                            "description": "Output image format"
                          }
                        },
                        "description": "QR code visual style options"
                      }
                    },
                    "required": [
                      "content"
                    ]
                  }
                },
                "required": [
                  "inputs"
                ]
              },
              "example": {
                "inputs": {},
                "params": {
                  "content": {
                    "type": "url",
                    "url": "https://rendobar.com"
                  },
                  "style": {
                    "size": 512,
                    "foregroundColor": "#6366F1",
                    "dotStyle": "rounded"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "QR code generated synchronously (complete)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "complete"
                          ]
                        },
                        "url": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "id",
                        "status"
                      ]
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "201": {
            "description": "QR generation dispatched asynchronously (fallback)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "dispatched",
                            "waiting"
                          ]
                        }
                      },
                      "required": [
                        "id",
                        "status"
                      ]
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Machine-readable error code"
                        },
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Machine-readable error code"
                        },
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Machine-readable error code"
                        },
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/ffmpeg/probe": {
      "post": {
        "tags": [
          "FFmpeg"
        ],
        "summary": "Probe media file metadata",
        "description": "Probe a media file to get duration, resolution, codecs, and stream info. Creates an extract.metadata job internally.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL of the media file to probe",
                    "example": "https://example.com/video.mp4"
                  }
                },
                "required": [
                  "url"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Probe job created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "id",
                        "status"
                      ]
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Machine-readable error code"
                        },
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Machine-readable error code"
                        },
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Machine-readable error code"
                        },
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/ffmpeg/execute": {
      "post": {
        "tags": [
          "FFmpeg"
        ],
        "summary": "Execute an FFmpeg command",
        "description": "Execute a real FFmpeg command. URLs in -i positions are auto-extracted as inputs. Output format is inferred from trailing filename or set via outputFormat. Creates an FFmpeg processing job.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "command": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 16384,
                    "description": "FFmpeg command. Can include or omit 'ffmpeg' prefix. Input files can be URLs after -i (auto-extracted) or named placeholders from inputs map. Can include output filename to set format (e.g. 'output.webm'). For standard operations (watermark, transcode, captions), prefer the built-in job types.",
                    "example": "ffmpeg -i https://example.com/video.mp4 -vf scale=1280:720 -c:v libx264 -crf 23 output.mp4"
                  },
                  "inputs": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string",
                      "format": "uri"
                    },
                    "description": "Optional named placeholder -> URL map for inputs not in the command string",
                    "example": {
                      "overlay": "https://example.com/logo.png"
                    }
                  },
                  "outputFormat": {
                    "type": "string",
                    "enum": [
                      "mp4",
                      "mkv",
                      "webm",
                      "mov",
                      "avi",
                      "ts",
                      "gif",
                      "png",
                      "jpg",
                      "mp3",
                      "wav",
                      "flac",
                      "ogg",
                      "aac",
                      "opus",
                      "m4a",
                      "srt",
                      "vtt"
                    ],
                    "description": "Override inferred output format"
                  },
                  "timeout": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 900,
                    "description": "Maximum execution time in seconds (default: 120)"
                  }
                },
                "required": [
                  "command"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "FFmpeg job created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "id",
                        "status"
                      ]
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Machine-readable error code"
                        },
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Machine-readable error code"
                        },
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Machine-readable error code"
                        },
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/jobs": {
      "post": {
        "tags": [
          "Jobs"
        ],
        "summary": "Create a job (generic)",
        "description": "Create a new media processing job. Specify the job type, input files, and processing parameters. For typed endpoints with full validation, use the category-specific routes (e.g. POST /watermark/add).",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "description": "Job type identifier (e.g., watermark.apply, transcode)"
                  },
                  "inputs": {
                    "type": "object",
                    "additionalProperties": {},
                    "description": "Input files (e.g., { source: 'https://...' })"
                  },
                  "params": {
                    "type": "object",
                    "additionalProperties": {},
                    "description": "Job-specific parameters (validated per job type)"
                  }
                },
                "required": [
                  "type",
                  "inputs"
                ]
              },
              "example": {
                "type": "watermark.apply",
                "inputs": {
                  "source": "https://cdn.rendobar.com/assets/examples/sample.mp4"
                },
                "params": {
                  "watermarks": [
                    {
                      "type": "image",
                      "url": "https://cdn.rendobar.com/assets/brand/logo-full.png",
                      "position": "bottom-right"
                    }
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Job created and dispatched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Unique job identifier (e.g., job_abc123def456)"
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "dispatched",
                            "waiting"
                          ],
                          "description": "Initial job status after creation"
                        }
                      },
                      "required": [
                        "id",
                        "status"
                      ]
                    }
                  },
                  "required": [
                    "data"
                  ]
                },
                "example": {
                  "data": {
                    "id": "job_abc123def456",
                    "status": "dispatched"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Machine-readable error code"
                        },
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Machine-readable error code"
                        },
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Machine-readable error code"
                        },
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — job type not allowed on plan",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Machine-readable error code"
                        },
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Machine-readable error code"
                        },
                        "message": {
                          "type": "string",
                          "description": "Human-readable error message"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ]
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "List jobs",
        "description": "List jobs for the authenticated organization. Supports filtering by status and type, with pagination.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "waiting",
                "dispatched",
                "running",
                "complete",
                "failed",
                "cancelled"
              ],
              "description": "Filter by job status"
            },
            "required": false,
            "description": "Filter by job status",
            "name": "status",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Filter by job type (e.g., watermark.apply)"
            },
            "required": false,
            "description": "Filter by job type (e.g., watermark.apply)",
            "name": "type",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Page size (default 50, max 100)",
              "example": "50"
            },
            "required": false,
            "description": "Page size (default 50, max 100)",
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Pagination offset (default 0)",
              "example": "0"
            },
            "required": false,
            "description": "Pagination offset (default 0)",
            "name": "offset",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "List of jobs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "orgId": {
                            "type": "string"
                          },
                          "userId": {
                            "type": "string"
                          },
                          "batchId": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "type": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "providerId": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "providerType": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "providerRunId": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "aiPattern": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "inputs": {
                            "type": "string"
                          },
                          "params": {
                            "type": "string"
                          },
                          "outputRef": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "outputMeta": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "errorCode": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "errorMessage": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "logsRef": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "stepsJson": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "mediaType": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "price": {
                            "type": [
                              "integer",
                              "null"
                            ],
                            "minimum": -9007199254740991,
                            "maximum": 9007199254740991
                          },
                          "providerCost": {
                            "type": [
                              "integer",
                              "null"
                            ],
                            "minimum": -9007199254740991,
                            "maximum": 9007199254740991
                          },
                          "infraCost": {
                            "type": [
                              "integer",
                              "null"
                            ],
                            "minimum": -9007199254740991,
                            "maximum": 9007199254740991
                          },
                          "margin": {
                            "type": [
                              "integer",
                              "null"
                            ],
                            "minimum": -9007199254740991,
                            "maximum": 9007199254740991
                          },
                          "estimatedPrice": {
                            "type": [
                              "integer",
                              "null"
                            ],
                            "minimum": -9007199254740991,
                            "maximum": 9007199254740991
                          },
                          "pipelineId": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "pipelineNodeId": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "createdAt": {
                            "type": "integer",
                            "minimum": -9007199254740991,
                            "maximum": 9007199254740991
                          },
                          "dispatchedAt": {
                            "type": [
                              "integer",
                              "null"
                            ],
                            "minimum": -9007199254740991,
                            "maximum": 9007199254740991
                          },
                          "startedAt": {
                            "type": [
                              "integer",
                              "null"
                            ],
                            "minimum": -9007199254740991,
                            "maximum": 9007199254740991
                          },
                          "completedAt": {
                            "type": [
                              "integer",
[...]
